
body{
    font-family: "Roboto Condensed";
}
.content-table {
    border-spacing: 3px;
    margin: 25px 0;
    font-size: 0.5cm;
    min-width: 400px;
    border-radius: 0px;
    overflow: hidden;
} 
.content-table thead tr {
    background-color: #aa77ac;
    color: white;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding:  12px 15px;
}
.content-table th{
    color: white;
}
.content-table tbody tr:nth-of-type(odd){
    background-color: rgb(220, 190, 199);
    color: #aa77ac;
}
.content-table tbody tr:nth-of-type(even){
    background-color: rgb(224, 210, 215);
    color: white;
}
.content-table caption {
    padding: 12px 15px;
    background-color: rgb(163, 151, 158);
    color: white;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #ab42af;
}
